<div class="title-bg-grey">
	<div class="title-main">{{'Become a'|translate}} <span translate>Model</span></div>
</div>
<div class=" about-home">
	<div class="row" style="margin-right: 0px">
		<div class="col-md-7 bg-cover" [style.backgroundImage]="'url('+ image +')'" #bgEle id="bgEle">
			<img src="">
		</div>
		<div class="col-md-5">
			<h3 translate>Webcam Models Wanted!</h3>
			<div class="txt-about-home">
				<p translate>Webcam modeling with Sexy Talk is an exciting way to make good money from the comfort and safety of your home. All you need is a webcam, a computer, a stable internet connection, and your sexy flirtatious self..
				</p>
			</div>
			<a class="join-us" translate (click)="navigateTo('/page/inscription-modeles')">JOIN US</a>
		</div>
	</div>
</div>
